@import '@';

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 512px;
  font-family: $mono;
  margin: 0 auto;
  box-shadow: $box-shadow;
  color: o-md-color('pink', 900);
  background: o-md-color('pink', 50);
  padding: $unit;
}

.inputGroup {
  margin-bottom: $unit;
  label, input {
    display: block;
  }
  input, input[type=password] {
    border: 1px solid o-md-color('pink', 900);
    color: o-md-color('pink', 900);
    background: o-md-color('purple', 50);
  }
}

button:focus {
  border: 2px solid o-md-color('pink', 900);
}
