{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    ["webpack-alias", {
      "config": "./webpack/webpack.config.dev.js"
    }],
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-function-bind",
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-regenerator"
  ]
}
