html,
body,
:global(#root) {
  height: 100%;
}

body {
  font-family: $text-font;
  font-size: $font-size;
  background: $background-color;
  color: $text-color;
  overflow: hidden;
}

hr {
  border: none;
  border-bottom: $dashed-border;
  margin: $unit;
}
