html,
body,
:global(#root) {
  height: 100%;
}

body {
  font-family: $text-font;
  font-size: $font-size;
  background: $background-color;
  color: $text-color;
  overflow: hidden;
}

hr {
  border: none;
  border-bottom: $dashed-border;
  margin: $unit;
}

input[type=number] {
  display: inline-block;
  max-width: 64px;
  padding-left: 2px !important;
  padding-right: 0;
}

:global(.black) {
  background-color: o-md-color('grey', 900) !important;
}
