$assets-path: '../assets';
$fonts-path: $assets-path + '/fonts';
$images-path: $assets-path + '/images';

$brand-font: 'lastaregular_italic';
$heading-font: 'lastaregular_italic';
$text-font: Georgia, 'Libre Baskerville', serif;

$sans: 'Droid Sans';
$mono: 'Droid Sans Mono', Monaco, Consolas, Menlo;
$serif: $heading-font;

$font-size: 1em;
$font-size-small: 0.7em;
$line-height: 1.6;
$unit: $font-size;
$bump: o-golden-ratio($unit, -2);
$leading: $font-size * $line-height;

$h1-font-size: 1.4em;
$h2-font-size: 1.3em;
$h3-font-size: 1.2em;
$h4-font-size: 1.1em;
$h5-font-size: 1em;
$h6-font-size: 0.7em;
$h-map: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$background-color: #fff;
$foreground-color: o-md-color('grey', 50);
$text-color: o-md-color('grey', 900);
$text-color-light: o-md-color('grey', 800);
$primary-color: mix(o-md-color('deep-orange', 900), o-md-color('pink'));
$link-color: $primary-color;
$arrow-color: o-md-color('grey', 500);
$inactive-color: o-md-color('grey', 400);

$box-shadow: 0px 1px 2px 1px rgba(#000, 0.3);
$border: 1px solid o-md-color('pink', 100);
$dashed-border: 1px dashed rgba(0,0,0,0.44);
