@import '@';

.Header {
  @extend %o-grid;
  align-items: center;
  padding: $unit;
  border-bottom: $dashed-border;
}


// | navLink(about) | bannerContainer | navLink(dummy) |
.bannerContainer {
  @include o-span(8);
  text-align: center;
}
.navLink {
  @include o-span(2);
}
.dummy {
  opacity: 0;
}

.banner {
  font-size: 4em;
  margin: 0;
  @include o-media(s) {
    font-size: 2.5em;
  }
}

.banner:hover,
.navLink a:hover {
  transition: letter-spacing 0.33s ease-in-out;
  &:hover {
    letter-spacing: 4px;
  }
}

.captionText {
  font-size: $h3-font-size;
  margin: 0;
  @include o-media(s) {
    font-size: $h5-font-size;
  }
}
