@import '@';

.Footer {
  border-top: $dashed-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $unit;
  position: relative;
}

.copyright {
  margin-top: 0;
  padding: ($unit * 2) 0;
  align-self: center;
  font-size: 0.9em;
  font-weight: normal;
  font-family: $mono;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 50%;
  height: 100%
}
