@import '@';

.Section {
  padding: $unit;
}

.description {
  max-width: $prose-max-width;
  margin: 0 auto;
  background: $foreground-color;
  padding: 1rem;
  box-shadow: $box-shadow;
}

.thumbs {
  @include o-list-unstyled;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  li {
    flex-basis: 20%;
    background: $foreground-color;
    margin: $unit;
    //border: 1px dashed rgba(0,0,0,0.125);
    box-shadow: $box-shadow;
    @include o-media(m) {
      flex-basis: 45%;
    }
    @include o-media(s) {
      flex-basis: 100%;
    }
    &.limiting {
      flex-basis: 40%;
    }
  }
}
