@import '@';

.imageContainer {
  @include o-size(100%);
  display: flex;
}

.image {
  @include o-size(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
