@import '@';

.StyleGuide {
  @extend %pageContainer;
  @include o-center;
  label {
    background: black;
    color: white;
    font-family: $mono;
    padding: 2px;
    font-size: $h5-font-size;
  }
}

.sans {
  font-family: $sans;
}
.serif {
  font-family: $serif;
}
.mono {
  font-family: $mono;
}

.swatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swatch {
  @include o-size(256px);
  margin: $bump;
  box-shadow: $box-shadow;
  &.textColor {
    background: $text-color;
  }
  &.textColorLight {
    background: $text-color-light;
  }
  &.backgroundColor {
    background: $background-color;
  }
  &.foregroundColor {
    background: $foreground-color;
  }
  &.primaryColor {
    background: $primary-color;
  }
}
