@import '@';

.Fpfys {
  height: 100%;
}

.overlay {
  @extend %overlay;
}

.fpfysInner {
  @extend %pageInner;
}

.title {
  text-align: center;
}

.paws {
  @extend %o-grid;
  padding: $unit;
  margin: 0;

  .paw {
    @include o-span(6);
    padding: $bump;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
      box-shadow: $box-shadow;
    }
  }
}

.pagination {
  @extend %o-grid;
  .iconButton {
    @include o-span(6);
    padding: 0 $unit;
    font-size: $unit * 1.5;
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 15%);
    }
    &.disabled {
      color: $inactive-color;
      cursor: default !important;
    }
  }
}

.arrowLeft {
  @include arrow(left, $unit/2, $arrow-color);
}
.arrowRight {
  @include arrow(right, $unit/2, $arrow-color);
}
