@import '@';

.Fpfys {
  height: 100%;
}

.overlay {
  @extend %overlay;
}

.fpfysInner {
  @extend %pageInner;
}

.title {
  text-align: center;
}

.paws {
  @extend %o-grid;
  padding: $unit;
  margin: 0;

  .paw {
    @include o-span(6);
    padding: $bump;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 64px;
      margin: 0 auto;
      display: block;
      height: auto;
      box-shadow: $box-shadow;
    }
  }
}

.pagination {
  @extend %o-grid;
  .iconButton {
    @include o-span(6);
    padding: 0 $unit;
    font-size: $unit * 1.5;
    color: $primary-color;
    margin: 0;
    &:hover {
      color: darken($primary-color, 15%);
    }
    &.disabled {
      color: $inactive-color;
      cursor: default !important;
    }
  }
}

.modalContent {
  @include o-size(100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  .imageContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 256px;
  }
}
