@import '@';

$navButtonBasis: 2%;

.ImageSlider {
  overflow: hidden;
  margin-bottom: $font-size;
}

.main {
  display: flex;
}

.navButtonContainer {
  flex-basis: $navButtonBasis;
  cursor: pointer;
  margin: auto 0;
  font-size: map-get($h-map, 1);
  .navButton {
    color: $text-color-light;
  }
  &:hover {
    .navButton {
      color: $text-color;
    }
  }
  .disabled {
    cursor: default !important;
    color: $inactive-color;
  }
}

.imageContainer {
  position: relative;
  @include o-square(100%);
  flex-basis: 100 - ($navButtonBasis * 2);
  padding: $bump;
  overflow: hidden;
  min-height: 360px;
  max-height: 1024px;
  &:hover {
    .overlay {
      opacity: 1;
    }
    .image {
      opacity: 0.2;
    }
  }
}

.overlay {
  margin: 0 auto;
  text-align: center;
  padding-top: 22%;
  transition: opacity 250ms;
  opacity: 0;
}

.image {
  transition: opacity 250ms;
  opacity: 1;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  max-width: 98%;
  max-height: 98%;
  margin: auto;
  box-shadow: $box-shadow;
  cursor: pointer;
  &.active {
    display: block;
    &:hover:after {
      content: 'Click to enlarge';
    }
  }
}

.meta {
  text-align: center;
  .author, .caption, .credits {
    font-size: $font-size-small;
  }
}

.thumbs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: $bump;
}

.thumb {
  @include o-size(64px);
  margin: $bump/2;
  background-size: 128px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: $box-shadow;
  cursor: pointer;
  &.active {
    box-shadow: none;
    border: 2px solid $primary-color;
  }
}
