@import '@';

.Slug, .Slug a {
  transition: color 250ms;
  color: $text-color;
  font-family: $heading-font;
}

.Slug span a:hover {
  color: $link-color;
}

.separator {
  display: inline-block;
  color: lighten($text-color-light, 10%);
  padding: 0 $bump;
  font-size: $h4-font-size;
}
