@import '@';

.Slug, .Slug a {
  transition: color 250ms;
  color: $text-color-light;
  text-align: center;
  font-family: $heading-font;
}

.Slug span a:hover {
  color: $link-color;
}

.separator {
  color: $text-color-light;
}
