@import '@';

.App {
  height: 100%;
}

.site,
.backgroundImage {
  @include o-size(100%);
  position: absolute;
  top: 0;
  bottom: 0;
}

.backgroundImage {
  opacity: 0.4;
  background-image: url('../../../assets/images/FlamingoPattern-01.png');
  background-repeat: repeat;
  background-size: 512px;
  background-position: 428px -512px;
  transform: rotate(45deg);
  //background-clip: content-box;
  //transform: skewX(30deg);
  //border-left: 256px dashed rgba(white, 0.5);
}

// contains Header, .main, and Footer
.site {
  overflow: auto;
}

.main {
  padding: $unit/2 $unit;
}
